* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    position: fixed;
    z-index: 2;
    width: 100%;
}

.header__navbar .nav-item {
    position: relative;
}

/* tim hieu so sanh dau : va :: */
.header__navbar .nav-item::before {
    position: absolute;
    content: "";
    width: 0%;
    height: 3px;
    bottom: 0;
    left: 0;
    background: linear-gradient(to right, #fbbd61, #ec7532);
    transition: all .5s;
}

.header__navbar .nav-item.active::before {
    width: 100%;
}

.header__navbar .nav-item:hover::before {
    width: 100%;
}

/* carousel */

.myCarousel img {
    width: 100%;
}

.carousel-item {
    position: relative;
}

.carousel__caption {
    position: absolute;
    top: 40%;
    left:22%;
}

