/*----------GLOBAL---------*/
body {
  border-top: 5px solid #E56038;
  background: #EBE8DE;
  font-family: "Open Sans", sans-serif;
  color: #333;
}

a {
  cursor: pointer;
  text-decoration: none;
}

.clearfix {
  clear: both;
}

ul li {
  list-style: none;
  text-align: center;
  float: left;
  margin-left: 70px;
  line-height: 40px;
}
ul li:hover a {
  color: #777;
}
ul a {
  display: block;
  outline: none;
  width: 100%;
  text-transform: uppercase;
  color: inherit;
}

.button, .search input[type=submit] {
  width: auto;
  padding: 5px 18px;
  line-height: 25px;
  text-shadow: none;
  cursor: pointer;
  box-shadow: none;
  background-color: #333;
  color: #fff;
}

/*-------------------------*/
/*----------HEADER---------*/
/*-------------------------*/
header {
  position: relative;
  width: auto;
  max-width: 900px;
  margin: 0 auto 20px auto;
}
header h1 {
  margin: 35px 0 0 0;
  font-size: 55px;
  color: #E56038;
  font-family: "Baumans", sans-serif;
}
header p {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  color: #4A4638;
  margin-left: 5px;
}

/*-------------------------*/
/*------------Nav----------*/
/*-------------------------*/
nav {
  position: absolute;
  margin: 50px 20px;
  top: 0;
  right: 0;
}

/*-------------------------*/
/*----------Slider---------*/
/*-------------------------*/
.container {
  position: relative;
  width: auto;
  margin: 0 auto;
}
.container .slider-content {
  position: absolute;
  line-height: 25px;
  opacity: 0.6;
  width: 350px;
  top: 15%;
  left: 15%;
  z-index: 11;
  display: block;
}
.container .slider-content h3 {
  color: #EBE8DE;
  background-color: #333;
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 10px;
  padding: 10px 15px;
  border-radius: 15px 0;
  display: inline-block;
}
.container .slider-content p {
  margin: 0 0 30px 0;
  color: #4A463B;
  background-color: #EBE8DE;
  padding: 10px 15px;
  border-radius: 5px;
}
.container .slider {
  overflow: hidden;
}
.container .slider figure {
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  animation: slidy 30s infinite;
}
.container .slider figure img {
  width: 20%;
  float: left;
}
@keyframes slidy {
  0% {
    left: 0%;
  }
  20% {
    left: 0%;
  }
  25% {
    left: -100%;
  }
  45% {
    left: -100%;
  }
  50% {
    left: -200%;
  }
  70% {
    left: -200%;
  }
  75% {
    left: -300%;
  }
  95% {
    left: -300%;
  }
  100% {
    left: -400%;
  }
}
/*-------------------------*/
/*----------Spacer---------*/
/*-------------------------*/
.search {
  position: relative;
  width: auto;
  height: 70px;
  background-color: #E56038;
  color: #fff;
  font-size: 18px;
}
.search p {
  position: absolute;
  margin-top: 22px;
  width: auto;
  left: 50%;
  margin-left: -450px;
}
.search .searchform {
  margin-top: 15px;
  width: auto;
  position: absolute;
  right: 50%;
  margin-right: -480px;
}
.search input {
  font-size: 16px;
  padding: 7px;
  outline: 0;
  border: 0;
  width: 250px;
  background: #EBE8DE;
  border-radius: 5px;
}

/*----------------------------*/
/*--------Three Columns-------*/
/*----------------------------*/
.three-columns {
  width: auto;
  max-width: 900px;
  margin: 0 auto;
  padding: 70px 0 45px 0;
}
.three-columns article {
  float: left;
  width: 250px;
  margin-right: 25px;
  font-size: 14px;
}
.three-columns article h3 {
  font-size: 20px;
  margin-bottom: 10px;
  margin-left: 75px;
}
.three-columns article img {
  float: left;
  width: 30%;
}
.three-columns article p {
  line-height: 25px;
  margin-left: 75px;
}

/*----------------------------*/
/*--------Four Columns--------*/
/*----------------------------*/
.four-columns {
  line-height: 25px;
  clear: both;
  width: auto;
  max-width: 900px;
  margin: 0 auto;
}
.four-columns h2 {
  font-size: 20px;
  border-bottom: 1px solid #D6D0C1;
  padding: 20px 0;
  margin-bottom: 20px;
}
.four-columns .img-item {
  float: left;
  margin-right: 25px;
  width: 22%;
}
.four-columns .img-item a {
  position: relative;
  display: block;
}
.four-columns .img-item a .zoomin {
  position: absolute;
  top: 0;
  left: 0;
  width: 170%;
  height: 95%;
  background: #000 url("../img/zoom.png") center center no-repeat;
  background-size: 50px 50px;
  z-index: 99;
  opacity: 0;
}
.four-columns .img-item a .zoomin:hover {
  opacity: 0.5;
}
.four-columns .img-item a img {
  width: 170%;
  height: 100%;
}
.four-columns .img-item figcaption {
  line-height: 25px;
  font-size: 14px;
  width: 200px;
}
.four-columns .img-item figcaption strong {
  border-bottom: 1px solid #D6D0C1;
  padding-bottom: 10px;
  margin: 10px 0;
  display: block;
}

/*----------------------------*/
/*--------Light Box--------*/
/*----------------------------*/
.lightbox-item {
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100%;
  text-align: center;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  display: none;
}
.lightbox-item:target {
  display: block;
}
.lightbox-item img {
  max-width: 90%;
  max-height: 80%;
  margin-top: 2%;
}

/*----------------------------*/
/*--------Multiple Columns--------*/
/*----------------------------*/
.multiple-columns {
  line-height: 25px;
  clear: both;
  width: auto;
  max-width: 900px;
  margin: 0 auto;
}
.multiple-columns h3 {
  font-size: 20px;
  border-bottom: 1px solid #D6D0C1;
  padding: 20px 0;
  margin-bottom: 20px;
}
.multiple-columns .column-1, .multiple-columns .column-2 {
  font-size: 14px;
  float: left;
  width: auto;
  max-width: 450px;
  margin: 70px 0;
}
.multiple-columns .column-1 .row, .multiple-columns .column-2 .row {
  position: relative;
  margin: 40px 0 0 50px;
  float: right;
  width: 350px;
}
.multiple-columns .column-1 .row img, .multiple-columns .column-2 .row img {
  width: 80px;
  height: 80px;
  float: left;
}
.multiple-columns .column-1 .row p, .multiple-columns .column-2 .row p {
  margin-left: 100px;
}
.multiple-columns .column-2 {
  margin: 120px 0;
}
