/*----------GLOBAL---------*/
@import "variable.scss";

body {
	border-top: 5px solid $second-color;
	background: $third-color;
	font-family: $font-1, sans-serif;
	color: $first-color;
}

a {
	cursor: pointer;
	text-decoration: none;
}

.clearfix {
	clear: both;
}

ul {
	li {
		list-style: none;
		text-align: center;
		float: left;
		margin-left: 70px;
		line-height: 40px;
		&:hover a{
			color: #777;
		}
	}
	a {
		display: block;
		outline: none;
		width: 100%;
		text-transform: uppercase;
		color: inherit;
	}
}

.button {
	width: auto;
	padding: 5px 18px;
	line-height: 25px;
	text-shadow: none;
	cursor: pointer;
	box-shadow: none;
	background-color: $first-color;
	color: #fff;
}
/*-------------------------*/
/*----------HEADER---------*/
/*-------------------------*/

header {
	position: relative;
	width: auto;
	max-width: 900px;
	margin: 0 auto 20px auto;
	h1 {
		margin: 35px 0 0 0;
		font-size: 55px;
		color: $second-color;
		font-family: $font-2, sans-serif;
	}
	p {
		font-family: $font-1, sans-serif;
		font-size: 16px;
		color: #4A4638;
		margin-left: 5px;
	}
}

/*-------------------------*/
/*------------Nav----------*/
/*-------------------------*/
nav {
	position: absolute;
	margin: 50px 20px;
	top: 0;
	right: 0;
}

/*-------------------------*/
/*----------Slider---------*/
/*-------------------------*/

.container {
	position: relative;
	width: auto;
	margin: 0 auto;
	.slider-content {
		position: absolute;
		line-height: 25px;
		opacity: 0.6;
		width: 350px;
		top: 15%;
		left: 15%;
		z-index: 11;
		display: block;
		h3 {
			color: $third-color;
			background-color: $first-color;
			font-size: 25px;
			font-weight: bold;
			margin-bottom: 10px;
			padding: 10px 15px;
			border-radius: 15px 0;
			display: inline-block;
		}
		p {
			margin: 0 0 30px 0;
			color: #4A463B;
			background-color: $third-color;
			padding: 10px 15px;
			border-radius: 5px;
		}
	}
	.slider {
		overflow: hidden;
		figure {
			position: relative;
			width: 500%;
			margin: 0;
			left: 0;
			text-align: left;
			font-size: 0;
			animation: slidy 30s infinite;
			img {
				width: 20%;
				float: left;
			}
		}
	@keyframes slidy {
		0% {
			left: 0%;
		}
		20% {
			left: 0%;
		}
		25% {
			left: -100%;
		}
		45% {
			left: -100%;
		}
		50% {
			left: -200%;
		}
		70% {
			left: -200%;
		}
		75% {
			left: -300%;
		}
		95% {
			left: -300%;
		}
		100% {
			left: -400%;
		}
	}
	}
}


/*-------------------------*/
/*----------Spacer---------*/
/*-------------------------*/

.search {
	position: relative;
	width: auto;
	height: 70px;
	background-color: $second-color;
	color: #fff;
	font-size: 18px;
	p {
		position: absolute;
		margin-top: 22px;
		width: auto;
		left: 50%;
		margin-left: -450px;
	}
	.searchform {
		margin-top: 15px;
		width: auto;
		position: absolute;
		right: 50%;
		margin-right: -480px;
	}
	input {
		font-size: 16px;
		padding: 7px;
		outline: 0;
		border: 0;
		width: 250px;
		background: $third-color;
		border-radius: 5px;
		&[type=submit] {
			@extend .button;
		}
	}
}


/*----------------------------*/
/*--------Three Columns-------*/
/*----------------------------*/

.three-columns {
	width: auto;
	max-width: 900px;
	margin: 0 auto;
	padding: 70px 0 45px 0;
	article {
		float: left;
		width: 250px;
		margin-right: 25px;
		font-size: 14px;
		h3 {
			font-size: 20px;
			margin-bottom: 10px;
			margin-left: 75px;
		}
		img {
			float: left;
			width: 30%;
		}
		p {
			line-height: 25px;
			margin-left: 75px;
		}
	}
}

/*----------------------------*/
/*--------Four Columns--------*/
/*----------------------------*/

.four-columns {
	line-height: 25px;
	clear: both;
	width: auto;
	max-width: 900px;
	margin: 0 auto;
	h2 {
		font-size: 20px;
		border-bottom: 1px solid #D6D0C1;
		padding: 20px 0;
		margin-bottom: 20px;
	}
	.img-item {
		float: left;
		margin-right: 25px;
		width: 22%;
		a {
			position: relative;
			display: block;
			.zoomin {
				position: absolute;
				top: 0;
				left: 0;
				width: 170%;
				height: 95%;
				background: #000 url("../img/zoom.png") center center no-repeat;
				background-size: 50px 50px;
				z-index: 99;
				opacity: 0;
				&:hover {
					opacity: 0.5;
				}
			}
			img {
				width: 170%;
				height: 100%;
			}
		}
		figcaption {
			line-height: 25px;
			font-size: 14px;
			width: 200px;
			strong {
				border-bottom: 1px solid #D6D0C1;
				padding-bottom: 10px;
				margin: 10px 0;
				display: block;
			}
		}
	}
}

/*----------------------------*/
/*--------Light Box--------*/
/*----------------------------*/

.lightbox-item {
	position: fixed;
	z-index: 999;
	width: 100%;
	height: 100%;
	text-align: center;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0 , 0.8);
	display: none;
	&:target {
		display: block;
	}
	img {
		max-width: 90%;
		max-height: 80%;
		margin-top: 2%;
	}
}

/*----------------------------*/
/*--------Multiple Columns--------*/
/*----------------------------*/


.multiple-columns {
	line-height: 25px;
	clear: both;
	width: auto;
	max-width: 900px;
	margin: 0 auto;
	h3 {
		font-size: 20px;
		border-bottom: 1px solid #D6D0C1;
		padding: 20px 0;
		margin-bottom: 20px;
	}
	.column-1 {
		font-size: 14px;
		float: left;
		width: auto;
		max-width: 450px;
		margin: 70px 0;
		.row {
			position: relative;
			margin: 40px 0 0 50px;
			float: right;
			width: 350px;
			img {
				width: 80px;
				height: 80px;
				float: left;
			}
			p {
				margin-left: 100px;
			}
		}
	}
	.column-2 {
		@extend .column-1;
		margin: 120px 0;
	}
}




























































