header, section, footer, aside, nav, main, article, figure {
    display: block;
  }
  
  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
  }
  
  body {
      font-family: 'Poiret One', cursive;
      font-size: 15px;
      font-weight: normal;
      color: black;
      background-color: white;
  }

  a {
      text-decoration: none;
  }
  
  a:hover {
      text-decoration: none;
  }