/*--------------------- RESET --------------------*/
/*------------------------------------------------*/

header, section, footer, aside, nav, main, article, figure {
    display: block; 
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: normal;
    color: black;
    background-color: white;
}

ul{
    list-style: none;
    li {
        display: inline-block;
        a {
            color: white;
            text-decoration: none;
        }
    }
}

.heading__title {
    font-size: 1.8rem;
    font-weight: bold;
    margin: 10% 0 5% 0;
}

/*-------------------- HEADER --------------------*/
/*------------------------------------------------*/

.header {
    position: absolute;
    z-index: 2;
    width: 100%;
    .logo__menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .info {
        text-align: right;
        padding: 2%;
        color: white;
    }
    .logo {
        display: flex;
        align-items: center;
        color: white;
        font-weight: bold;
        img {
            width: 50px;
            height: 50px;;
            border-radius: 50%;
            padding-right: 2%;
        }
    }
    .menu {
        text-align: right;
        font-size: 1.1rem;
        ul li {
            padding: 10px;
            .active {
                font-weight: bold;
            }
        }
    }
}
.banner {
    position: relative;
    background: rgba(0, 0, 0, 0.5) url('../img/banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 95vh;
    .banner__info {
        padding-top: 18%;
        .register__info{
            .carousel-indicators {
                justify-content: flex-start;
                margin: 0;
                li {
                    padding: 1%;
                }
                
            }
            .carousel-item{
                color: white;
                padding-bottom: 10%;
                h1 {
                    font-size: 3rem;
                    font-weight: 900;
                }
                h2 {
                    font-size: 2.5rem;
                }
            }
        }
        .register__form {
            display: flex;
            flex-direction: column;
            padding: 10%;
            background-color: white;
            margin-top: -20%;
            input, select {
                background-color: #ddd;
                border: none;
                outline: none;
                padding: 3%;
                margin: 3% 0;
            }
            a {
                padding: 3% 0;
                margin-top: 2%;
            }
            p {
                font-size: .9rem;
            }
        }
    }
}

/*-------------------- SYSTEM --------------------*/
/*------------------------------------------------*/

.system {
    position: relative;
    width: 22%;
    margin-right: 2.5%;
    img {
        width: 100%;
    }
    .system__info {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;;
        background-color: rgba(0,0,0,0.5);
        z-index: 2;
        .system__text {
            position: absolute;
            bottom: 0;
            right: 0;
            text-align: right;
            color: white;
            margin-right: 5%;
        }
    }
}

.system__content {
    margin-top: 3%;
    .system__icon {
        img {
            width: 90%;
        }
    }
}

/*------------------- SERVICE --------------------*/
/*------------------------------------------------*/

.service {
    position: relative;
    .service__girl {
        position: absolute;
        left: -35%;
        img {
            width: 90%;
        }
    }
    .service__inner {
        position: relative;
        border: 2px solid blue;
        margin-right: 10%;
        width: 90%;
        margin-bottom: 10%;
        transition: .3s;
        &:hover {
            border: 2px solid transparent;
            box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.2);
        }
        .services__img {
        position: absolute;
        top: 25%;
        left: -10%;
        width: 20%;
        img {
            width: 100%;
        }
        }
        .services__text {
            padding: 10% 5% 5% 15%;
        }
    }
}

/*-------------------- STATIS --------------------*/
/*------------------------------------------------*/

.statis {
    padding: 1px 0 3% 0;
    background-color: #3369e7;
    text-align: center;
    h1 {
        text-align: left;
    }
    .statis__info {
        border: 2px solid white;
        padding: 10% 0;
        i {
            font-size: 2rem;
            color: white;
            height: 80px;
            width: 80px;
            border-radius: 50%;
            line-height: 80px;
            background-color: black;
        }
        p:nth-child(2) {
            font-size: 3rem;
            color: white;
            padding-top: 5%;
        }
        &:hover {
            border: 1px solid transparent;
            box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.2);
        }
        
    }
}

/*-------------------- CHOOSE --------------------*/
/*------------------------------------------------*/

.choose__item {
    & > img {
        width: 100%;
    }
    .choose__info {
        padding: 5%;
        border: 1px solid transparent;
        box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.2);
        h4 {
            font-size: 1.2rem;
        }
        img {
            width: 20%;
        }
        p{
            color: #888;
            line-height: 30px;
        }
    }
}

/*-------------------- TESTI --------------------*/
/*------------------------------------------------*/

.testi {
    background: linear-gradient(120deg, rgba(26, 24, 24, 0.7), rgba(26, 24, 24, 0.7)), url('../img/testi.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 60vh;
    padding: 1% 0;
    margin: 5% 0;
    .testi__content {
        img{
            width: 100px;
            height: 100px;
            border-radius: 50%;
        }
    }
}


/*-------------------- TEAM --------------------*/
/*------------------------------------------------*/


.team {
    .team__info {
        img {
            width: 100%;
        }
    }
}



























