// Variables color
$color__black: black;
$color__white: white;
$color__white__2: #999;
$color__white__3: #f8f9fa;
$color__red: #ff3c41;
$color__red__2: #f91051;
$color__green: #13daa8;
$color__blue: #037ef3;
$color__yellow: #fbc33f;


//Variable fontsize
$fs_0: 15px;
$fs_1: 25px;
$fs_2: 40px;
$fs_3: 42px;
$fs_4: 46px;

// Variable font
$font_1: 'Poiret One', cursive;
$font_2: 'Nunito Sans', sans-serif;

//Variable Padding;
$pd_top: 10%;
$pd_bottom: 10%;

