.banner {
    position: relative;
    width: 100%;
    overflow: hidden;
    .owl-carousel {
        .owl-nav {
            position: absolute;
            top: 59%;
            left: 84%;
            width: 20%;
            button.owl-next,
            button.owl-prev {
                color: $color__white;
                font-size: 4em;
                font-weight: bold;
                outline: none;
                margin: 5%;
                background: none;
            }
        }
    }
    .banner__welcome {
        position: absolute;
        top: 35%;
        left: 67%;
        width: 30%;
        z-index: 10;
        h1 {
            font-size: 3rem;
            font-weight: bold;
            background-color: rgba(247, 248, 249, 0.1);
            text-shadow: 2px 5px 3px rgba(41, 41, 41, 0.14);
            padding: 1%;
            border-radius: 5px;
        }
        p {
            padding-left: 20%;
        }
        button {
            padding: 2% 5%;
            margin: 7% 0;
        }
        .banner__social {
            position: relative;
            padding-left: 25%;
            &:before {
                content: '';
                position: absolute;
                width: 80px;
                height: 1px;
                border: 1px solid rgba(255, 255, 255, 0.48);
                top: 5px;
                left: 40px;
            }
            &:after {
                content: '';
                position: absolute;
                width: 80px;
                height: 1px;
                border: 1px solid rgba(255, 255, 255, 0.48);
                top: 5px;
                right: 130px;
            }
        }
    }
}

.banner__title {
    position: absolute;
    bottom: 10%;
    left: 5%;
    color: $color__white;
    z-index: 10;
    .banner__title1 {
        border-right: 1px solid $color__white__2;

    }
    h5 {
        font-weight: bold;
    }
}





