<h3 style="color:red">ngContent</h3>

<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <app-item-card>
                <span class="tenSP">Iphone</span>
                <span class="giaTien">1000$</span>
            </app-item-card>
        </div>
        <div class="col-sm-3">
            <app-item-card>
                <span class="tenSP">Samsung</span>
                <span class="giaTien">500$</span>
            </app-item-card>
        </div>
        <div class="col-sm-3">
            <app-item-card>
                <span class="tenSP">Oppo</span>
                <span class="giaTien">100$</span>
            </app-item-card>
        </div>
        <div class="col-sm-3">
            <app-item-card>
                <span class="tenSP">HTC</span>
                <span class="giaTien">300$</span>
            </app-item-card>
        </div>
    </div>
</div>