<div class="container">
    <div class="row">
        <div class="col-3" *ngFor="let movie of movies">
            <div class="mb-4">
                <!-- error dung de set hinh mac dinh neu hinh bi loi -->
                <img #image (error)="_setDefaultImg(image)" [src]="movie.hinhAnh"  style="width:100%; height:350px"/>
                <p class="lead">{{movie.tenPhim | uppercase }}</p><!-- pipe uppercase -->
                <p>{{movie.moTa | shortText: '80'}}</p>
                <p>Release Date: {{movie.ngayKhoiChieu | date:"dd-MM-yyyy"}}</p>
                <button class="btn btn-success" routerLink="/chi-tiet/{{movie.maPhim}}">Detail</button>
            </div>
        </div>
    </div>
</div>

<!-- pipe la mot filter cua angular giup thay doi dinh dang du lieu hien thi tren man hinh search trong document -->