header, section, footer, aside, nav, main, article, figure {
    display: block; 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: normal;
    color: black;
    background-color: white;
}

.heading__title {
    font-size: 3rem;
    font-weight: 900;
    text-align: center;
}

p {
    font-size: 0.9rem;
    color: #777;
    line-height: 1.9em;
    letter-spacing: 1px;
}

/*--------------------*/
/*-------HEADER-------*/
/*--------------------*/

.header__info {
    width: 60%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-weight: 700;
    text-transform: uppercase;
    width: 20%;
}

.menu {
    width: 55%;
    padding: 2% 2% 0 2%;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
}

.welcome {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social {
    width: 35%;
}

.welcome i {
    font-size: 2em;
    padding: 2%;
    vertical-align: middle;
}

.menu nav ul {
    text-align: center;
    list-style: none;
    padding: 2% 0;
}

.menu nav ul li {
    display: inline-block;
    padding: 2%;
}

.menu nav ul li a {
    text-decoration: none;
    color: #555;
}

.search {
    width: 25%;
}

.search input {
    padding: 5% 10%;
    background-color: #f7f7f7;
    margin-left: 8%;
    border: none;
}

.search button {
    padding: 5%;
    background-color: #fcd846;
    border: none;
    margin-left: -10px;
}

/*--------------------*/
/*-------BANNER-------*/
/*--------------------*/

.banner {
    position: relative;
    background-image: url("../img/banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    height: 70vh;
    z-index: -10;
}

.banner__info {
    position: absolute;
    width: 35%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}

.banner__info h6 {
    font-size: 1.3rem;
}

.banner__info h1 {
    font-size: 4rem;
    font-weight: bold;
}

.banner_bottom {
    margin-top: -10%;
    height: 100%;
}

.banner__items {
    display: flex;
    justify-content: center;
}

.banner__item img {
    width: 100%;
    height: 100%;
    display: block;
}

.banner__items div:nth-child(1),
.banner__items div:nth-child(3) {
    margin-top: 5%;
}

.banner__items div:nth-child(2) {
    margin-bottom: 5%;
}

/*--------------------*/
/*-------ABOUT--------*/
/*--------------------*/

.about__content {
    width: 45%;
    margin: 0 auto;
    text-align: center;
    padding: 5% 0;
}

.about__content p {
    margin: 3% 0 5% 0;
}

.about__content a {
    padding: 1% 5%;
    color: red;
    font-weight: 600;
    text-decoration: none;
    border: 1px solid none;
    background-color: white;
    box-shadow: 2px 5px 10px #888888;
}

/*--------------------*/
/*-------INFO--------*/
/*--------------------*/

.info {
    display: flex;
    justify-content: center;
}

.info__left {
    width: 50%;
    background-color: #fcd846;
}

.info__left--content {
    padding: 10%;
}

.info__left--content h1 {
    font-size: 8rem;
    font-weight: 900;
}

.info__left--content h2 {
    font-weight: 400;
    margin-bottom: 5%;
}

.info__right {
    background-image: url('../img/info.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    height: 60vh;
    width: 50%;
}

/*--------------------*/
/*-------WORK--------*/
/*--------------------*/

.work {
    padding: 7% 0;
}

.work__items {
    width: 60%;
    margin: 0 auto;
    display:flex;
    justify-content: center;

}

.work__item {
    display: flex;
    width: 30%;
}

.work__item--left img {
    width: 100%;
    padding-top: 10%;
}

.work__item--right {
    padding: 0 4%;
}

/*--------------------*/
/*-------SERVICES--------*/
/*--------------------*/

.services {
    background-image: linear-gradient(120deg, rgba(0, 0, 0, 0.7) 100%, rgba(0, 0, 0, 0.7) 100%), url('../img/cover.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    height: 70vh;
}

.services__items {
    width:50%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.services__item {
    width: 30%;
    padding-top: 15%;
    color: white;
}

.services__item i {
    color: #fcd846;
    font-size: 2rem;
}

/*--------------------*/
/*-------PROCESS--------*/
/*--------------------*/

.process {
    padding: 5% 0;
}

.process h1 {
    padding-bottom: 5%;
}

.process__items {
    width: 60%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.process__item {
    width: 33.33%;
    display: flex;
    justify-content: space-between;

}

.process__image {
    width: 30%;
    text-align: center;
    line-height: 90px;
    color: #fcd846;
    font-size: 2rem;
    width: 100px;
    height: 100px;
    background-color:#333;
    border: 6px solid #4e5052;
    border-radius: 50%;
}

.process__info {
    width: 70%;
}

.process__items .process__item:nth-child(2) {
    margin-top: 10%;
}


/*--------------------*/
/*-------STAT--------*/
/*--------------------*/
.stat {
    background-color:#191818;
    height: 35vh;
    padding: 5% 0;
}

.stat__content {
    width: 60%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.stat__item i {
    font-size: 2.5rem;
    color: #fcd846;
}

.stat__item h1 {
    font-size: 3rem;
    color:white;
    font-weight: bold;
    padding: 5% 0;
}

/*--------------------*/
/*-------GALLERY--------*/
/*--------------------*/

.gallery {
    padding: 5% 3%;
}

.gallery h1 {
    padding-bottom: 2%;
}

.gallery__items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2%;
}

.gallery img {
    width: 100%;
    height: 100%;
    display: block;
    border: 5px solid white;
}

/*--------------------*/
/*-------NEWS--------*/
/*--------------------*/

.news {
    background-color: #f7f7f7;
    padding-bottom: 5%;
}

.news h1 {
    padding: 4% 0;
}

.news__items {
    width: 60%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 3%;
}

.news__item {
    padding: 10%;
    background-color: white;
}

.news__item:nth-child(2) {
    background-color: #fcd846;
    color: white;
}

.news__item img {
    width: 100%;
}

/*--------------------*/
/*-------TESTI--------*/
/*--------------------*/

.testi {
    background-color: #191818;
}

.testi__content {
    width: 30%;
    margin: 0 auto;
    padding: 7% 0;
    text-align: center;
}

.testi__content i {
    color: #fcd846;
}

.testi__content > i:first-child {
    font-size: 3rem;
}

.testi__content h5 {
    color: white;
    font-size: 1rem;
    font-weight: 500;
}

.testi__content p {
    padding: 4% 0;
}

/*--------------------*/
/*-------CONTACT--------*/
/*--------------------*/

.contact {
    padding: 5% 0;
}

.contact h1 {
    margin-bottom: 3%;
}

.contact__form {
    width: 70%;
    margin: 5% auto;
    padding: 3%;
    border: .5px solid #ddd;
    box-shadow: -5px 6px 25px -12px rgba(0, 0, 0, 0.75);
}

.contact__form h2 {
    text-align: center;
    margin-bottom: 3%;
}

.contact__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
}

.contact__input input,
.contact__textarea textarea {
    padding: 3%;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 5px;
    resize: none;
}

.contact__textarea,
.contact__btn {
    grid-column: 1/3;
}

.contact__btn {
    text-align: center;
}

.contact__btn button {
    width: 30%;
    background-color: #191818;
    padding: 20px 0;
    border: none;
    font-weight: bold;
    color: #fcd846;
}

/*--------------------*/
/*-------FOOTER--------*/
/*--------------------*/

footer {
    background-color: #191818; 
}

.footer__content {
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

.footer__content h1 {
    color: white;
    padding: 5% 0 2% 0;
    font-size: 2rem;
}

.footer__content ul {
    list-style: none;;
}

.footer__content ul li {
    display: inline-block;
}



/* BACK TO TOP */


.cd-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 3;
    background-image: url("../img/to-top.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    opacity: 0;
    visibility: hidden;
  }
  
  .cd-top.cd-top--is-visible {
    opacity: 1;
    visibility: visible;
  }























