<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Trắc nghiệm online</h1>
    <div id="content" >

    </div>

    <button id='btnSubmit'>Submit</button>
    
    <script src="../models/question.js"></script>
    <script src="../models/multipleChoice.js"></script>
    <script src="../models/fillInBlank.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
    <script src="../controllers/index.js"></script>
</body>
</html>