* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*-----------------------------------*/
/*--------------NAVBAR---------------*/
/*-----------------------------------*/

.navbar {
    margin-bottom: 0;
    background-color: #1ECBF4;
    border: 0;
    font-size: 20px !important;
    font-family: Roboto, sans-serif;
}

.navbar-brand {
    font-size: 30px;
    margin-left: 130px;
}

.navbar-toggler-icon {
    background-image: none !important;
    font-size: 30px;
    margin-top: 15%;
}

.navbar-nav {
    margin-right: 10%;
}

.navbar-nav li {
    margin-left: 25px;
}

.navbar-toggler {
    color: white;
}

.navbar li a, .navbar-brand{
    color: white;
}

.navbar-nav li a:hover,
.navbar-nav li.active a {
    color: #1ECBF4 !important;
    background-color: #fff !important;
}

/*-----------------------------------*/
/*--------------HEADER---------------*/
/*-----------------------------------*/

.jumbotron {
    background-color: #1ECBF4;
    color: #ffffff;
    padding: 100px;
}

/*-----------------------------------*/
/*--------------ABOUT---------------*/
/*-----------------------------------*/

.container-fluid {
    padding: 60px 50px;
}

.container-fluid * {
    padding: 10px;
}

.logo {
    font-size: 250px;
    color: #1ECBF4;
}

@media screen and (max-width: 768px) {
    .col-md-3 {
        text-align: center;
        margin: 25px 0;
    }
}

/*-----------------------------------*/
/*--------------SERVICES-------------*/
/*-----------------------------------*/

.logo-small {
    font-size: 50px;
    color: #1ECBF4;
}

/*-----------------------------------*/
/*--------------PORTFOLIO-------------*/
/*-----------------------------------*/


.thumbnail {
    padding: 0 0 15px 0;
    background-color: #ffffff;
}

.thumbnail img {
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
}


/*-------------Carousel------------*/

.carousel-control-prev-icon{
    height: 70px;
    width: 70px;
    background-image: url("img/arrowleft.png");
}

.carousel-control-next-icon {
    height: 70px;
    width: 70px;
    background-image: url("img/arrowright.png");
}

.carousel-indicators li {
    border-color: #1ECBF4;
}

.carousel-item h4 {
    font-size: 30px;
    line-height: 1em;
    font-style: italic;
    margin: 70px;
}

/*-----------------------------------*/
/*--------------PRICING-------------*/
/*-----------------------------------*/


.card {
    border: 1px solid #1ECBF4;
    border-radius: 0 !important;
    transition: box-shadow .5s;
}

.card:hover {
    box-shadow: 5px 0px 40px rgba(0, 0, 0 , .2);
}

.card-header {
    color: #ffffff;
    background-color: #1ECBF4 !important;
    padding: 30px;
    border-bottom: 1px solid transparent;
}

.card-footer {
    background-color: white !important;
}

.card-footer h3 {
    font-size: 30px;
}

.card-footer h4 {
    color: #aaa;
    font-size: 14px;
}

.card-footer .btn {
    background-color: #1ECBF4;
    padding: 20px 50px;
    color: #ffffff;
    font-weight: 500;
}

.card-footer .btn:hover {
    border: 1px solid #1ECBF4;
    background-color: #fff !important;
    color: #1ECBF4;
}

/*-----------------------------------*/
/*--------------ANIMATION-------------*/
/*-----------------------------------*/

.slideanim {
    visibility: hidden;
}

.slide {
    animation-name: slide;
    -webkit-animation-name: slide;
    -moz-animation-name: slide;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    visibility: visible;
}

@keyframes slide {
    0% {
        opacity: 0;
        transform: translateY(70%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

@-webkit-keyframes slide {
    0% {
        opacity: 0;
        -webkit-transform: translateY(70%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}

@-moz-keyframes slide {
    0% {
        opacity: 0;
        -moz-transform: translateY(70%);
    }
    100% {
        opacity: 1;
        -moz-transform: translateY(0%);
    }
}













